html {
  font-family: "Noto Sans", sans-serif;

}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

small {
  color: #e2e2e2;
}

.btn-ghost {
  border-radius: 4px;
  border-width: 2px;
  border-color: #8bc9d9;
  color: #8bc9d9;
}

.btn:hover {
  border-color: #0084a6;
  color: #0084a6;
  background-color: #8bc9d9;
}

.nav-titles {
  color: #8bc9d9;
}

.nav-titles:hover {
  color: #005e76;
}

@media screen and (min-width: 60em) {

  .nav {
    text-align: right;
  }

}

.border-top .border-bottom {
  border-color: #e2e2e2;
}
